.container {
    margin: auto;
    margin-top: 230px;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    width: 600px;
    height: 540px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-weight: bold;
    color: #070830;
    text-align: start;
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.input,
.submitButton {
    width: 520px;
    max-width: 100%;
    box-sizing: border-box;
}

.input {
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #aeaec1;
    border-radius: 8px;
    height: 70px;
}

.submitButton {
    cursor: pointer;
    border-radius: 8px;
    background: #070830;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
    height: 70px;
}

.submitButton:hover {
    background-color: #000022;
}

.error {
    color: #d9534f;
    font-size: 0.875rem;
    margin-top: 4px;
}

.footer {
    font-size: 14px;
    text-align: center;
}

.signUp {
    color: #007bff;
    text-decoration: none;
}

.signUp:hover {
    text-decoration: underline;
}

.line {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
}
